*/migrations
*/__pycache__
db.sqlite3
.well-known
tmp
public
passenger_wsgi.py
.htaccess
cgi-bin
files
apishop/settings.py
bin/
get-pip.py
laoshop_db.json
laoshop_db.sql
lib/
lib64
pyvenv.cfg
share/
*/settings.py